{% extends "my_store/base.html" %}
{% load my_store_tags %}
{% block content %}
  <div class="m-5">
    <h1>Admin: {{ user.username }}</h1>

    <div class="scrollable">
      <table class="table table-striped table-bordered" id="admin-table">
        <thead>
          <tr>
            <th>{{ data_name }}</th>
            <th>Date & Time</th>
            <th>Item Count</th>
          </tr>
        </thead>
        <tbody>
          {% for td in table_data %}
            <tr>
              <td>
                <a href="{% url 'admin-store-detail' td.id %}">{{ td.Person }}</a>
              </td>
              <td>{{ td.time_ordered }}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

{% endblock content %}
