{% extends "my_store/base.html" %}
{% load static %}
{% block content %}
  <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/background.jpg' %}" >
        <div class="carousel-caption">
          <h1 class="welcome-message">Welcome to The Villa Store</h1>
          <p class="h5">Check out our products or Log In to order down bellow</p>
          <button type="button" class="btn btn-outline-light btn-lg">Store</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
